* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Layout */
body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

/* Header */
header {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}

.header-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Rock Salt", cursive;
    color: #ffcb73;
}

span {
    color: #e34234;
    padding-left: 10px;
    font-size:2rem;
}
nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    font-size:1.2rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* Sections */
main {
    flex: 1;
}

section {
    padding: 4rem 1rem;
    max-width: 1100px;
    margin: 0 auto;
}

/* Hero*/
.hero {
    background-color: #030303;
    text-align: center;
    padding: 6rem 1rem;
    max-width:100%;
}

.hero-inner h2 {
    font-size: 7rem;
    text-align: left;
    color:white;
    padding-left:130px;
}
.cta-btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    margin-top: 1.5rem;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

/* Portfolio */
.portfolio {
    background-color:aqua;
    margin:0 auto;
}

/* Portfolio grid */
.portfolio-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #ddd;
}